<html>
	<head>
		<style>
			body{
				background-color: #99ddff;
			}
			#inpUser{
				padding-right:100px;
			}
		</style>
	</head>
	<body>
		<form>
			<label id = "UserLabel">User: </label>
			<input type="text",id="inpUser"><br>
			<label id ="PassLabel">Password: </label>
			<input type="password",id="inpPass"><br>
			<button id = "logButton">Login</button>
		</form>
	</body>
</html>
