<html>
	<head>
		<style>
			body{
				background-color: #99ddff;
			}
			
			#inpUser{
				background-color: #99ddff;
				color:black;
				margin-left:100px;
			}
			#inpPass{
				background-color: #99ddff;
				color:black;
				margin-left:61px;
			}
			#logButton{
				margin-top:10px;
				margin-left:0px;
				padding-left:300px;
				text-align: center;
				font-size:30px;
				background-color: #99ddff;
				
			}
		</style>
	</head>
	<body>
		<form>
			<label id = "UserLabel">User: </label>
			<input id="inpUser",type="text"><br>
			<label id ="PassLabel">Password: </label>
			<input id="inpPass",type="password"><br>
			<button id = "logButton">Login</button>
		</form>
	</body>
</html>
